<!--The user is redirected to this page when the form/survey is submitted.-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey Thank You</title>
    <link href="/img/provo2.png" rel="icon">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/vendor/aos/aos.css" rel="stylesheet">
    <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.css">

    <style>
      button {
            background-color: #c84f9a;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        button:hover {
            background-color: #ba0e9b;
        }

    </style>

</head>

<body class="page-index" style="background-color: #574780; color: white; display: flex; align-items: center; justify-content: center; height: 100vh; text-align: center;">

    <div class="container">
        <h1>Thank you for adding an apartment!</h1>
        <br>
        <a href="adminLanding">
          <button type="button" class="createbtn">Home</button>
        </a>
    </div>

    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
    
          <a href="/" class="logo d-flex align-items-center">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="assets/img/logo.png" alt=""> -->
            <h1 class="d-flex align-items-center">Provo Apartments</h1>
          </a>
    
          <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
          <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    
          <nav id="navbar" class="navbar">
            <ul>
              <li><a href="/adminLanding">Home</a></li>
            </ul>
          </nav><!-- .navbar -->
        </div>
    </header>

    <!-- Template Main JS File -->
    <script src="/js/main.js"></script>
</body>

</html>
