/* Bordered form */
form {
    border: 3px solid #f1f1f1;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  input[type=text], input[type=newpassword] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #c84f9a;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .createbtn {
    width: auto;
    padding: 10px 18px;
    background-color: lightblue;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.logo {
    width: 10%;
    border-radius: 50%;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.password {
    text-align: center;
    float: center;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.password {
      display: block;
      float: none;
    }
    .createbtn {
      width: 100%;
    }
  }

    body {
      font-family: Arial, sans-serif;
      background-color: #1b2f45;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
  }

  form {
      width: 400px;
      padding: 20px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .container {
      text-align: left;
  }

  .createbtn {
      background-color: #c84f9a;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  }

  .password {
      display: block;
      margin-top: 20px;
  }

  .legend {
    font-weight: bold;
    font-size: x-large;
  }

  .modify {
    font-weight: bold;
    font-size: x-large;
  }